# Ignore everything at repo root
/*

# Keep these root files
!/.gitignore
!/README.md
!/.zshrc

# Keep config directory itself
!/.config/

# Ignore everything inside config by default
/.config/*

# nvim
!/.config/nvim/
!/.config/nvim/**
.config/nvim/lazy-lock.json

# atuin
!/.config/atuin/
!/.config/atuin/**

# bat
!/.config/bat/
!/.config/bat/**

# ghostty
!/.config/ghostty/
!/.config/ghostty/**

# tmux
!/.tmux.conf
!/.tmux/plugins/tpm/
!/.tmux/plugins/tpm/**
!/.tmux/plugins/catppuccin/
!/.tmux/plugins/catppuccin/**

# Ignore ds_store
.DS_Store
**/.DS_Store
